<div id="get-link" ng-show="input">

	<input type="text" ng-model="name" placeholder="Whose birthday is it?">
	<a target="_blank" href="http://www.coreystanford.com/dev/balloons/#/{{ name }}" id="preview">Preview</a>
	<a ng-click="openModal()" id="link">Link</a>

</div>

<div id="background-container" make-background room-id="background-container" alt="Wish someone a happy birthday, with style"></div>

<div ng-hide="input" id="modal">

	<h3>http://www.coreystanford.com/dev/balloons/#/{{ name }}</h3>

	<a type="button" ng-click="closeModal()" id="close">Close</a>
	
</div>